/* ----------------------------- General */

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.wide{
    width: 100%;
}

.thick{
    font-weight: 700;
}

.super-thick{
    font-weight: 900;
}

.link{
    text-decoration: none;
    color: #1d97c9; 
    font-weight:600;
}

/* ------------------------------------- header  */
.no-padding-left{
    padding-left: 0!important;
    padding-right: 0!important;
}

.not-high{
    height: 15rem;
    width: 100%;
    /* background-image: url('/images/header-image.jpg');
    background-size: cover ;*/
}

.header-image{
    background: url('/images/header-image.jpg') center center no-repeat;
    background-size: cover ;
}

.header-cover{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.case-header-text{
    width: 70%;
    color: white;
    opacity: none;
    /* margin-bottom: 40%; */
}

/* ------------------------------------ main section */

.location-btn{
    margin-bottom: 2%;
    margin-left: 1%;
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.customer{
    /* height: 20rem; */
    /* background-color: lightblue; */
}


.customer-cards{
    width: 100%;
    height: 100%;
    /* padding-left: 0!important;
    padding-right: 0!important; */
}

.studio-44{
    display: block;
    width:35%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10%;
    margin-bottom: auto; */
    max-height: 60%;
    }

.pro-website-guide{
    display: block;
    width: 55%;
    margin: auto;
    /* height: 60%; */
    /* left: 0;
    top: 0; */
}

.avid-panda{
    width: 35%;
    margin: auto;
    /* margin: 8% 25%;
    max-height: 50%; */
    /* background-color: #9024b4; */
}

.outdoor-ceremonies{
    width: 60%;
    /* margin: 15% 20%; */
    /* object-position: center; */
}

.evans-creative{
    width: 28%;
    /* margin: 10% 25%; */
}

.worcester{
    width: 30%;
    /* margin-top: 9%;
    margin-left: 35%; */
}

.first-customer-card-header{
    width: 100%;
    background-color: #546e7a;
    height: 8rem;

}

.second-customer-card-header{
    width: 100%;
    background-color: #132080;
    height: 8rem;
}

.third-customer-card-header{
    background-color: #9024b4;
    width: 100%;
    height: 8rem;
}

.forth-customer-card-header{
    width: 100%;
    background-color: #639782;
    height: 8rem;
}

.fifth-customer-card-header{
    width: 100%;
    background-color: #144773;
    height: 8rem;
}

.sixth-customer-card-header{
    width: 100%;
    height: 8rem;
    background-color: #123e4b;
}




.link-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.card-btn{
    background-color: #4eb246;
    color: white;
    /* text-align: left; */
}


/* ---------------------------------section sugestions */
/* -----------large */
#sugestions{
    min-height: 20rem;
    background-color: #f6f6f6;
}


#recommend{
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
}

#left-or-top{
    width: 70%;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 0;
}

/* -----------------small */
#small-sugestions{
    background-color: #f6f6f6;
}

#small-recommend {
    width: 100%;
    text-align: center;
}

/* ------------------------------------- footer */
#footer{
    min-height: 20rem;
    background-color: #ffffff;
}

#smiley{
    width: 10%;
    margin-top: 10%;
}