body {
    background-color: whitesmoke;
}


/* ------------------------------------- header  */

.not-high{
    height: 15rem;
    width: 100%;
    /* background-image: url('/images/header-image.jpg');
    background-size: cover ;*/
}

.header-image{
    background: url('/images/header-image.jpg') center center no-repeat;
    background-size: cover ;
    /* width: 60%; */
}

.header-cover{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.case-header-text{
    width: 70%;
    color: white;
    opacity: none;
    /* margin-bottom: 40%; */
}

/* ------------------------------------ main section */

.customer{
    /* height: 20rem; */
    /* background-color: lightblue; */
}

.customer-cards{
    width: 100%;
    height: 100%;
    /* padding-left: 0!important;
    padding-right: 0!important; */
}

.pro-website-guide{
    width: 100%;
    background-color: #132080;
    height: 6rem;
}

.studio-44{
    width:60%;
    margin: 10% 20%;
    }

.first-customer-card-header{
    width: 100%;
    background-color: #546e7a;
    height: 6rem;

}
.second-customer-card-header{
    width: 60%;
    margin: 10% 20%;
    /* height: 60%; */
    /* left: 0;
    top: 0; */
    
}

.link{
    text-decoration: none;
    color: #83c8e2; 
    font-weight:600;
}

.card-btn{
    background-color: #4eb246;
    color: white;
    /* text-align: left; */
}
