body {
    background-color: whitesmoke;
}


/* ------------------------------------- header  */

.not-high{
    height: 10rem;
    width: 80%;
    background-image: url('/images/header-image.jpg');
    background-size: cover ;
}

